body{
    display: block;
    color-scheme: dark;
    background: radial-gradient(circle at top center, rgba(125, 188, 255, 0.5) 0, transparent 50%, transparent 100%);
    background-color: var(--white-color);
    background-attachment: fixed;
}

:root{
    --bg-color: #F6F4F1;
    --theme-color: #FFC690 ;
    --theme-color1: #323846 ;
    --back-ground-color:#041632;
    --white-color: #ffffff;
    --black-color: #000000FF;
}

html{
    overflow-x: hidden;
}
body{
    background: var(--bg-color);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins' ,sans-serif;



}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0rem 3%;
    background: var(--theme-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

nav{
    display: block;
    unicode-bidi: isolate;
    position: absolute;
    right: 10px;
    margin-right: 2rem;
}

.navbar a{
    font-size: 1.3rem;
    color: var(--black-color);
    margin-left: 1rem;
    transition: 1s;
}
.navbar a:hover,
.navbar a.active {
    color: #ffffff;
}



.header .navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    padding: 14px 20px;
    display: block;
    text-decoration: none;
    color: black;
}

.navbar .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover {
    background-color: #ddd;
}
.dropdown{
    background-color: var(--theme-color);
}

/*------------welcome page css------------*/
.welcome-page{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 10rem;
}
.animation-text{
    color: var(--theme-color);
}

.social-media-section a{
    font-size: 2rem;
    color: var(--theme-color);

}
.social-media-section2 a{
    font-size: 3rem;
    color: var(--theme-color);

}

#welcome-page{

    color: var(--black-color);
    padding: 5rem 2rem 10rem;

}

.home-text>a{
    line-height:2;
    margin-bottom: 20px;
}


.home-text {
    width: 50rem;
    height: 25rem;
    padding: 4rem;
    /*background: white;*/
}

#pic{
    width: 120%;
    aspect-ratio: 1/1;
}


.home-text h1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 7;
}
.home-text h2{
    font-size: 2rem;
    font-weight: 700;

}


.home-text h3{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1;
}

.social-media-section a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    aspect-ratio: 1/1;
    background: transparent;
    border: 0.1rem solid var(--theme-color);
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 1s ease;
}
.social-media-section a:hover{
    background: var(--theme-color);
    color: var(--theme-color1);
    box-shadow: 0 0 1rem var(--back-ground-color
    );
}
.social-media-section2 a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    aspect-ratio: 1/1;
    background: transparent;
    border: 0.1rem solid var(--theme-color);
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 1s ease;
}
.social-media-section2 a:hover{
    background: var(--theme-color);
    color: var(--theme-color1);
    box-shadow: 0 0 1rem var(--back-ground-color
    );
}
